
<html>
<head>
    <link rel="stylesheet" href='/static/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>

    <!-- Lights on -->
    <script> 
        function light_on() { $.post("/light/on", {}) }
    </script>

    <!-- Lights off -->
    <script> 
        function light_off() { $.post("/light/off", {}) }
    </script>

    <!-- Laser on -->
    <script> 
        function laser_on() { $.post("/laser/on", {}) }
    </script>

    <!-- Laser off -->
    <script> 
        function laser_off() { $.post("/laser/off", {}) }
    </script>

    <!-- Move -->
    <script> 
     $(function() {
       $('#form_move').ajaxForm(function() { }); });
    </script>

    <!-- Origin -->
    <script> 
     $(function() {
       $('#form_origin').ajaxForm(function() { }); });
    </script>

    <!-- Set -->
    <script> 
     $(function() {
       $('#form_set_0').ajaxForm(function() { }); });
    </script>
    <script> 
     $(function() {
       $('#form_set_1').ajaxForm(function() { }); });
    </script>
    <script> 
     $(function() {
       $('#form_set_2').ajaxForm(function() { }); });
    </script>
    <script> 
     $(function() {
       $('#form_set_3').ajaxForm(function() { }); });
    </script>
    <script> 
     $(function() {
       $('#form_set_4').ajaxForm(function() { }); });
    </script>
    <script> 
     $(function() {
       $('#form_set_5').ajaxForm(function() { }); });
    </script>
    <script> 
     $(function() {
       $('#form_set_6').ajaxForm(function() { }); });
    </script>
    <script> 
     $(function() {
       $('#form_set_7').ajaxForm(function() { }); });
    </script>

    <!-- CFG -->
    <script> 
     $(function() {
       $('#form_cfg').ajaxForm(function() { }); });
    </script>


</head>
<body>
    <h1>Habemus site para o pendulo</h1>
    
    <!-- Camera -->
    <!-- <div>
        <iframe src="{{cam_url}}" title="Live Feed" width="640" height="480" scrolling="no" frameborder="0"></iframe>
    </div> -->

    <!-- Light -->
    <div>
        <h4>Lights</h4>
        <button onclick=light_on()>On</a></button>
        <button onclick=light_off()>Off</a></button>
    </div>
    
    <!-- Laser -->
    <div>
        <h4>Laser</h4>
        <button onclick=laser_on()>On</a></button>
        <button onclick=laser_off()>Off</a></button>
    </div>

    <!-- Move -->
    <div>
        <h4>Move</h4>
        <form id="form_move" action="/move" method="post">

            <input type="radio" id="0" name="direction" value="0" required>
            <label for="0">Forward</label>

            <input type="radio" id="1" name="direction" value="1">
            <label for="1">Backward</label>

            <input type="radio" id="2" name="direction" value="2">
            <label for="2">to photodiode</label><br>

            <label for="deltaX">DeltaX [1:50.0]</label>
            <input type="text" id="deltaX" name="deltaX" value="10" required><br>

            <label for="speed">Speed [1.0:50.0]</label>
            <input type="text" id="speed" name="speed" value="10" required><br>

            <label for="acceleration">Acceleration [1.0:150.0]</label>
            <input type="text" id="acceleration" name="acceleration" value="10" required><br>

            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- Origin -->
    <div>
        <h4>Origin</h4>
        <form id="form_origin" action="/origin" method="post">

            <label for="speed">Speed [1.0:50.0]</label>
            <input type="text" id="speed" name="speed" value="10" required><br>

            <label for="acceleration">Acceleration [1.0:150.0]</label>
            <input type="text" id="acceleration" name="acceleration" value="10" required><br>

            <input type="submit" value="Submit">
        </form>
    </div>
    
    <!-- Set -->
    <div>
        <h4>Set Parameters</h4>
        <form id="form_set_0" action="/set" method="post">

            <input type="hidden" id="0" name="action" value="0" />

            <label for="value">Maximum Position [40.0:60.0]</label>
            <input type="text" id="value" name="value" value ="53.45" required>

            <input type="submit" value="Submit">
        </form>
        
        <form id="form_set_1" action="/set" method="post">

            <input type="hidden" id="1" name="action" value="1" />

            <label for="value">Sphere Diameter [1.0:20.0]</label>
            <input type="text" id="value" name="value" value ="5.7080" required>

            <input type="submit" value="Submit">
        </form>

        <form id="form_set_2" action="/set" method="post">

            <input type="hidden" id="2" name="action" value="2" />

            <label for="value">Pendulum length [1.0:10.0]</label>
            <input type="text" id="value" name="value" value ="1.705540" required>

            <input type="submit" value="Submit">
        </form>

        <form id="form_set_3" action="/set" method="post">

            <input type="hidden" id="3" name="action" value="3" />

            <label for="value">Origin position [-3.0:4.0]</label>
            <input type="text" id="value" name="value" value ="0.8" required>

            <input type="submit" value="Submit">
        </form>

        <form id="form_set_4" action="/set" method="post">

            <input type="hidden" id="4" name="action" value="4" />

            <label for="value">Vertical position [15.0:25.0]</label>
            <input type="text" id="value" name="value" value ="27.5" required>

            <input type="submit" value="Submit">
        </form>

        <form id="form_set_5" action="/set" method="post">

            <input type="hidden" id="5" name="action" value="5" />

            <label for="value">Photodiode position [15.0:35.0]</label>
            <input type="text" id="value" name="value" value ="30.35" required>

            <input type="submit" value="Submit">
        </form>

        <form id="form_set_6" action="/set" method="post">

            <input type="hidden" id="6" name="action" value="6" />

            <label for="value">Pulley Diameter [1.0:4.0]</label>
            <input type="text" id="value" name="value" value ="3.0429" required>

            <input type="submit" value="Submit">
        </form>

        <form id="form_set_7" action="/set" method="post">

            <input type="hidden" id="7" name="action" value="7" />

            <label for="value">ID string [max lenght of 32 characters]</label>
            <input type="text" id="value" name="value" required>

            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- CFG -->
    <div>
        <h4>CFG</h4>
        <form id="form_cfg" action="/cfg" method="post">

            <label for="deltaX">DeltaX [5:25]</label>
            <input type="text" id="deltaX" name="deltaX" value="25" required><br>

            <label for="n">N [10:1000]</label>
            <input type="text" id="n" name="n" value="5" required><br>

            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- Program -->
    <div>
        <br><br>
        <h4>Programar dsPIC</h4>
        <button> <a href="/setup">Program</a></button>
    </div>

</body>
</html>
